form {
    border-bottom: 2px solid rgb(242, 196, 98); /* Solo borde abajo porque el resto del borde viene del content*/
    padding: 5px;
    color: rgb(202, 202, 202);
}

.formfield {
    border: 2px solid #f2dcae;
    margin-bottom: 5px;
}
.textarea{
    resize: none;
    height: 50px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
legend{
    font-weight: bold;
}
